@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
  --primary: 121, 82, 179;
  --on-primary: 232, 234, 237;
  --background: 255, 255, 255;
  --on-background: 32, 33, 36;
  /* Alpha values */
  --a15: 0.15;
  --a30: 0.30;
  --a45: 0.45;
}

:root[data-theme="dark"] {
  --primary: 121, 82, 179;
  --on-primary: 232, 234, 237;
  --background: 32, 33, 36;
  --on-background: 232, 234, 237;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-none {
  display: none !important;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

body {
  background-color: rgba(var(--background), 1);
  color: rgba(var(--on-background), 1);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.h2 {
  font-size: 60px;
  letter-spacing: -0.5px;
  line-height: 1.2;
}

.h3 {
  font-size: 48px;
  letter-spacing: 0;
  line-height: 1.2;
}

.h4 {
  font-size: 34px;
  letter-spacing: 0.25px;
  line-height: 1.2;
}

.h5 {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 1.2;
}

.h6 {
  font-size: 20px;
  letter-spacing: 0.15;
  line-height: 1.2;
}

input {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

input::-webkit-input-placeholder {
  color: rgba(var(--on-background), var(--a45));
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

input:-ms-input-placeholder {
  color: rgba(var(--on-background), var(--a45));
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

input::-ms-input-placeholder {
  color: rgba(var(--on-background), var(--a45));
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

input::placeholder {
  color: rgba(var(--on-background), var(--a45));
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

button {
  outline: none;
}

button:focus {
  -webkit-box-shadow: rgba(3, 206, 164, 0.75) 0px 0px 0px 2px;
          box-shadow: rgba(3, 206, 164, 0.75) 0px 0px 0px 2px;
}

.hero {
  background-color: rgba(var(--primary), 1);
  padding: 68px 0;
}

.hero__title {
  color: rgba(var(--on-primary), 1);
  margin-bottom: 0;
}

.theme-toggle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  background-color: rgba(var(--on-primary), var(--a15));
}

.theme-toggle:hover {
  background-color: rgba(var(--on-primary), var(--a30));
}

.theme-toggle:active {
  background-color: rgba(var(--on-primary), var(--a45));
}

.theme-toggle__icon_light {
  fill: rgba(var(--on-primary), 1);
}

.theme-toggle__icon_dark {
  fill: rgba(var(--on-primary), 1);
}

:root .theme-toggle__icon_dark {
  display: none;
}

:root[data-theme="dark"] .theme-toggle__icon_light {
  display: none;
}

:root[data-theme="dark"] .theme-toggle__icon_dark {
  display: block;
}

.new-task {
  margin-top: -25px;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid rgba(var(--on-background), var(--a15));
  border-radius: 24px;
  height: 48px;
  padding-left: 8px;
  background-color: rgba(var(--background), 1);
}

.input-group__prefix {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 40px;
  padding: 0;
  margin-right: 8px;
}

.input-group__icon {
  fill: rgba(var(--on-background), 1);
}

.input-group__infix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.input-group__control {
  padding: 0 16px 0 0;
  border-radius: 0 24px 24px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  color: rgba(var(--on-background), 1);
}

.todo-items {
  margin-top: 48px;
}

.todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(var(--on-background), var(--a15));
  min-height: 48px;
  height: auto;
  padding: 16px 24px 16px 8px;
}

.todo-item:first-child {
  border-top: 1px solid rgba(var(--on-background), var(--a15));
}

.todo-item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
  background-color: transparent;
}

.todo-item__button:hover {
  background-color: rgba(var(--primary), var(--a15));
}

.todo-item__button:active {
  background-color: rgba(var(--primary), var(--a30));
}

.todo-item__icon {
  fill: rgba(var(--primary), 1);
  pointer-events: none;
}

.todo-item__title {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters {
  border: 1px solid rgba(var(--on-background), var(--a15));
  padding: 16px;
  margin: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.filters__count {
  white-space: nowrap;
}

.filters__group {
  position: relative;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters__group .filters__button {
  margin: 0 4px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 767.98px) {
  .filters__group {
    margin: 16px 0;
  }
}

.filters__button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.filters__button_main {
  color: rgba(var(--on-background), 1);
}

.filters__button_main:hover {
  border-color: rgba(var(--on-background), var(--a15));
}

.filters__button_main:active {
  border-color: rgba(var(--on-background), var(--a30));
}

.filters__button_clear {
  color: #fff;
  background-color: #dc3545;
}

.filters__button_clear:hover {
  background-color: #bb2d3b;
}

.filters__button_clear:active {
  background-color: #b02a37;
}

.filters__button_active {
  border-color: rgba(var(--on-background), 1) !important;
  color: rgba(var(--on-background), 1);
}
/*# sourceMappingURL=style.css.map */