:root {
    --primary: #7c43bd;
    --on-primary: #fff;
    --background: #fff;
    --on-background: #202124;
    --surface: #f5f5f5;
    --on-surface: #202124;
    &[data-theme="dark"] {
        --background: #202124;
        --on-background: #fff;
        --surface: #303136;
        --on-surface: #fff;
    }
}