:root {
    --background: #fff;
    --on-background: #202124;
    --border-color: #dadce0;
    &[data-theme="dark"] {
        --background: #202124;
        --on-background: #e8eaed;
        --border-color: #5f6368;
    }
}