@import 'variables';
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-color: var(--background);
    color: var(--on-background);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.h2 {
    font-size: 60px;
    letter-spacing: -0.5px;
    line-height: 1.2;
}

.h3 {
    font-size: 48px;
    letter-spacing: 0;
    line-height: 1.2;
}

.h4 {
    font-size: 34px;
    letter-spacing: 0.25px;
    line-height: 1.2;
}

.h5 {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 1.2;
}

.h6 {
    font-size: 20px;
    letter-spacing: 0.15;
    line-height: 1.2;
}

* {
    box-sizing: border-box;
}

input {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
}

input:focus::-webkit-input-placeholder {
    color: var(--primary);
}

input:focus:-moz-placeholder {
    color: var(--primary);
}

input:focus::-moz-placeholder {
    color: var(--primary);
}

button {
    outline: none;
}

// Accessible hiding
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.d-none {
    display: none !important;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Hero
.hero {
    background-color: var(--primary);
    padding: 75px 0;
    &__container {
        
    }
    &__title {
        color: var(--on-primary);
        margin-bottom: 0;
    }
}

// Theme toggle
.theme-toggle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    &:hover, &:focus {
        background-color: var(--on-primary-a15);
    }
    &:active {
        background-color: var(--on-primary-a30);
    }
    &__icon {
        &_light {
            fill: var(--on-primary);
        }
        &_dark {
            fill: var(--on-primary);
        }
    }
}

:root {
    .theme-toggle__icon_dark {
        display: none;
    }
    &[data-theme="dark"] {
        .theme-toggle {
            &__icon {
                &_light {
                    display: none;
                }
                &_dark {
                    display: block;
                }
            }
        }
    }
}

.new-task {
    margin-top: -25px;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--on-background-a15);
    border-radius: 24px;
    height: 48px;
    padding-left: 8px;
    padding-right: 24px;
    background-color: var(--background);
    &__prefix {
        display: flex;
        align-items: center;
        justify-content: center;
        // The following 3 properties set a fixed width
        flex-basis: 40px;
        flex-grow: 0;
        flex-shrink: 0;
        height: 40px;
        padding: 0;
        margin-right: 8px;
    }
    &__icon {
        fill: var(--on-background);
    }
    &__infix {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__control {
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        border: none;
        width: 100%;
        height: 100%;
        outline: none;
        background-color: transparent;
        color: var(--on-background);
    }
}

.todo-items {
    margin-top: 48px;
}

.todo-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--on-background-a15);
    min-height: 48px;
    height: auto;
    padding: 16px 24px 16px 8px;
    &:hover {
        background-color: var(--primary-a15);
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        // The following 3 properties set a fixed width
        flex-basis: 40px;
        flex-grow: 0;
        flex-shrink: 0;
        height: 40px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-right: 8px;
        background-color: transparent;
        &:hover, &:focus {
            background-color: var(--primary-a15);
        }
        &:active {
            background-color: var(--primary-a30);
        }
    }
    &__icon {
        fill: var(--primary);
    }
    &__title {
        display: flex;
        align-items: center;
    }
}