@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-color: var(--background);
    color: var(--on-background);
    font-family: 'Poppins', sans-serif;
}

// Accessible hiding
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

// Hero
.hero {
    padding: 75px 0;
    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        color: var(--on-background);
        margin-bottom: 0;
    }
}

// Theme toggle
.theme-toggle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    &__light {
        fill: var(--on-background);
    }
    &__dark {
        fill: var(--on-background);
    }
}

:root {
    .theme-toggle__dark {
        display: none;
    }
    &[data-theme="dark"] {
        .theme-toggle {
            &__light {
                display: none;
            }
            &__dark {
                display: block;
            }
        }
    }
}

.new-task {
    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.input-group {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 24px;
    &__prefix {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
    }
    &__icon {
        fill: var(--on-background);
    }
    &__infix {
        width: 100%;
        font-weight: 400;
        display: flex;
        align-items: center;
        padding-right: 12px;
    }
    &__control {
        width: 100%;
        font-weight: 400;
        line-height: 1;
        border: none;
        outline: none;
        background: transparent;
        color: var(--on-background);
    }
}
